<h4>Add a Comment</h4>
<form>
  <div class="form-group">
    <label for="Input">Author</label>
    <input type="Input" class="form-control" id="Author" placeholder="Author">
  </div>
  <div class="form-group">
    <label for="Textarea">Textarea</label>
    <textarea class="form-control" id="Comment" rows="3"></textarea>
    <button type="submit">Comment</button>
  </div>
</form>