<!-- Pass in data from server.js -->

<button class="submit btn-lg" id="scrape">Scrape New Articles</button>
<br>
<br>
{{#each article}}
<h4>{{this.title}}</h4>
<a class="btn" href="/article/{{this.id}}">View</a>
<hr>
<br>
{{/each}}