body {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    background-color: #353535;
}

#wrapper {
    width: 960px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #818181;
}

#handlebars {
    padding: 20px;
}

.jumbotron {
    height: 250px;
    background-image: url(./Images/scraper.7.png);
    background-size: cover;
}

.comment-header {
    text-align: center;
}

#handlebars {
    text-align: center;
}

#article {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
}

.btn {
    color: #fff;
    font-weight: 500;
}

input.form-control {
    height: 36px;
    font-size: 24px;
    background-color: #fff;
}

textarea.form-control {
    height: 200px;
    font-size: 18px;
    background-color: #fff;
}

.footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-top: 2px solid #818181;
    background-color: #353535;
    color: #fff;
}